@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    height: 100vh;
    background: url('/static/purple.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    height: 100vh;
    color: white;
}

.text-yellow-stroke {
    text-shadow: 0px 0px 10px #f5e94226;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(240, 255, 100);
    @apply
        text-5xl
        md:text-8xl
        lg:text-xxl
        font-source
        font-bold
        leading-none
}
.title{
    @apply
        italic
        font-crimson
        text-2xl
        md:text-4xl
}

.bullet{
    @apply
        tracking-wide
        opacity-60
        my-4
        text-xl
        font-poppins
        hover:text-yellow-200
        hover:opacity-100
}

.sub-button{
    color: rgb(0,150,255);
    @apply
        font-poppins
        tracking-widest
        text-2xl
        hover:text-blue-300
}

.container-scrollbar p:not(:last-child) {
    margin-bottom: 1rem;
}

.container-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.container-scrollbar::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 4px;
}

.container-scrollbar::-webkit-scrollbar-thumb:active {
    background: #ffffff99;
}

.container-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.container-scrollbar::-webkit-scrollbar-track {
    background: #ffffff99;
    border-radius: 4px;
}

.container-scrollbar::-webkit-scrollbar-track:hover,
.container-scrollbar::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}


.menu-btn {
    --box-shadow-color: rgba(255, 101, 47, 0.2);
    width: 80px;
    height: 80px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    /* border: 5px solid #fff; */
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
    width: 50px;
    height: 6px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px var(--box-shadow-color);
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    position: absolute;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background-color: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
